<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="icon" th:href="@{/img/icon.png}">

    <title th:text="#{manager.tablesandtimes.create.title}"></title>
</head>
<body>
    <header th:insert="~{header.html}"></header>

    <main>
        <div class="sign item-set-column flex-center">
            <h1 th:text="#{manager.tablesandtimes.create.title}"></h1>

            <div class="table">
                <h2 style="color: black" th:text="#{manager.restaurant.time.header}" />

                <table>
                    <thead>
                    <tr>
                        <th th:each="day : ${T(java.time.DayOfWeek).values()}" th:value="${day}" th:text="#{${'weekday.' + day.name().toLowerCase()}}" />
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <td th:each="day : ${T(java.time.DayOfWeek).values()}"
                            th:text="${workingTimeMap.get(day) != null
                          ? workingTimeMap.get(day).openTime.format(T(java.time.format.DateTimeFormatter).ofPattern('HH:mm')) + ' - '
                          + workingTimeMap.get(day).closeTime.format(T(java.time.format.DateTimeFormatter).ofPattern('HH:mm'))
                          : '-'}">
                        </td>
                    </tr>

                    <tr>
                        <td th:each="day : ${T(java.time.DayOfWeek).values()}">
                            <form th:if="${workingTimeMap.containsKey(day)}" th:action="@{/manager/restaurants/create/{id}/deletetime/{day}(id=${restaurant.id}, day=${day})}" method="post">
                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

                                <button type="submit" class="btn btn-delete" th:text="#{delete}" />
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <h1 th:text="#{manager.tablesandtimes.createtime.header}" />

            <form class="item-set-row flex-center" th:object="${newWorkingTime}"
                  th:action="@{/manager/restaurants/create/{id}/addtime(id=${newWorkingTime.restaurant.id})}" method="post">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

                <label><select name="day" th:field="*{dayOfWeek}" required>
                    <option value="" hidden selected th:text="#{manager.tablesandtimes.create.form.day}" />
                    <option th:each="day : ${T(java.time.DayOfWeek).values()}" th:value="${day}" th:text="#{${'weekday.' + day.name().toLowerCase()}}" />
                </select></label>
                <label><select name="openTime" th:field="*{openTime}" required>
                    <option th:text="#{manager.tablesandtimes.create.form.opentime}" value="" hidden selected />
                    <option th:each="time : ${availableTimes}" th:value="${time}" th:text="${time}" />
                </select></label>
                <label><select name="closeTime" th:field="*{closeTime}" required>
                    <option th:text="#{manager.tablesandtimes.create.form.closetime}" value="" hidden selected />
                    <option th:each="time : ${availableTimes}" th:value="${time}" th:text="${time}" />
                </select></label>

                <button class="btn btn-create" type="submit" th:text="#{create}" />
            </form>

            <hr />

            <div class="table">
                <h2 style="color: black" th:text="#{manager.restaurant.tables.header}" />

                <i class="error-message" th:if="${deleted != null && !deleted}" th:text="#{manager.restaurant.tables.error}" />

                <table>
                    <thead>
                    <tr>
                        <th th:text="ID" />
                        <th th:text="#{manager.restaurant.tables.number}" />
                        <th th:text="#{manager.restaurant.tables.seats}" />
                        <th th:text="#{action}" />
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:if="${tables.isEmpty()}">
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                    <tr th:each="table : ${tables}">
                        <td th:text="${table.id}" />
                        <td th:text="${table.number}" />
                        <td th:text="${table.seatsNumber}" />
                        <td>
                            <form th:action="@{/manager/restaurants/{restaurantId}/create/tables/{tableId}/delete(restaurantId=${table.restaurant.id}, tableId=${table.id})}"
                                  method="post">
                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

                                <button type="submit" class="btn btn-delete" th:text="#{delete}" />
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <h1 th:text="#{manager.tablesandtimes.createtable.header}" />

            <form class="item-set-row flex-center" th:object="${newRestaurantTable}"
                  th:action="@{/manager/restaurants/create/{id}/addtable(id=${newRestaurantTable.restaurant.id})}" method="post">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

                <label><input th:placeholder="#{manager.tablesandtimes.create.form.placeholder.seatsnumber}" type="text" th:field="*{seatsNumber}" required /></label>
                <label><input th:placeholder="#{manager.tablesandtimes.create.form.placeholder.tablesnumber}" type="text" name="tablesNumber" required /></label>

                <button class="btn btn-create" type="submit" th:text="#{create}" />
            </form>

            <hr />

            <a class="btn btn-redirect" th:href="@{/manager/restaurants}" th:text="#{back}" />
        </div>
    </main>

    <footer th:insert="~{footer.html}"></footer>
</body>
</html>