<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="icon" th:href="@{/img/icon.png}">

    <title th:text="#{user.register}" />
</head>
<body>
    <header th:insert="~{header.html}"></header>

    <main>
        <form class="sign" th:object="${user}" th:action="@{/guest/register}" method="post">
            <h1 th:text="#{user.register}" />

            <div th:if="${param.error}">
                <i class="error-message" th:text="#{user.register.error}" />
            </div>

            <div class="item-set-column">
                <label><input type="email" name="email" pattern="^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}$" required
                              th:field="*{email}" th:placeholder="#{user.register.form.email.placeholder}"/></label>
                <label><input type="password" name="password" minlength="8" pattern="^(?!.*\s)[!-~]+$" required
                              th:field="*{password}" th:placeholder="#{user.register.form.password.placeholder}"/></label>
                <label><input type="text" name="firstName" pattern="^[\\p{L}]+$" th:field="*{firstName}"
                              th:placeholder="#{user.register.form.firstname.placeholder}" required /></label>
                <label><input type="text" name="lastName" pattern="^[\\p{L}]+$" th:field="*{lastName}"
                              th:placeholder="#{user.register.form.lastname.placeholder}" required /></label>
            </div>

            <div class="item-set-row">
                <a class="btn btn-redirect" th:href="@{/}" th:text="#{back}" />
                <button class="btn btn-default" type="submit" th:text="#{user.register}" />
            </div>
        </form>
    </main>

    <footer th:insert="~{footer.html}"></footer>
</body>
</html>