<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="icon" th:href="@{/img/icon.png}">

    <title th:text="#{user.register.success.title}"></title>
</head>
<body>
<header th:insert="~{header.html}"></header>
<main>
    <div class="sign">
        <h1 th:text="#{user.register.success.message}"></h1>
        <div class="input-set">
            <a class="btn btn-redirect" th:href="@{/templates/guest/login}" th:text="#{user.register.success.login}"></a>
            <a class="btn btn-redirect" th:href="@{/}" th:text="#{user.register.success.main}"></a>
        </div>
    </div>
</main>
<footer th:insert="~{footer.html}"></footer>
</body>
</html>