<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">

<nav class="nav">
    <div class="nav-company">
        <a href="/">
            <img class="logo" th:src="@{/img/icon.png}" alt="Icon" />
            <p class="name">Reserve It</p>
        </a>
    </div>
    <div class="nav-menu">
        <ul>
            <li><a href="/" th:text="#{header.index}"></a></li>

            <!-- Guest -->
            <li sec:authorize="!isAuthenticated()"><a href="/guest/register" th:text="#{header.register}"></a></li>
            <li sec:authorize="!isAuthenticated()"><a href="/guest/login" th:text="#{header.login}"></a></li>

            <!-- Admin -->
            <li sec:authorize="hasRole('ADMIN')"><a href="/admin/users" th:text="#{header.admin.users}"></a></li>

            <!-- Manager -->
            <li sec:authorize="hasRole('MANAGER')"><a href="/manager/reservations" th:text="#{header.manager.reservations}"></a></li>
            <li sec:authorize="hasRole('MANAGER')"><a href="/manager/restaurants" th:text="#{header.manager.restaurants}"></a></li>

            <!-- Client -->
            <li sec:authorize="hasRole('CLIENT')"><a href="/client/reservations" th:text="#{header.client.reservations}"></a></li>
            <li sec:authorize="hasRole('CLIENT')"><a href="/client/history" th:text="#{header.client.history}"></a></li>

            <li sec:authorize="hasAnyRole('MANAGER', 'CLIENT')"><a href="/user/profile" th:text="#{header.user.profile}"></a></li>

            <li sec:authorize="isAuthenticated()">
                <form style="margin: 0; padding: 0" method="post" th:action="@{/user/logout}">
                    <button class="button-link" type="submit" th:text="#{header.logout}"></button>
                </form>
            </li>
        </ul>
    </div>
    <div class="nav-lang">
        <form id="langForm" method="get">
            <select class="lang-select" name="lang" onchange="document.getElementById('langForm').submit();">
                <option value="en" th:text="#{header.lang.en}" th:selected="${#locale.language == 'en'}"></option>
                <option value="uk" th:text="#{header.lang.uk}" th:selected="${#locale.language == 'uk'}"></option>
            </select>
        </form>
    </div>
</nav>